html {
    font-family: Georgia;
}

body {
    background-color: #fff;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Gill Sans;
}

a {
    color: #012;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #012;
}
a:visited {
    color: #012;
}

p {
    /*max-width: 44em;*/
    max-width: 65ex;
}

code.block {
    margin: 1em 40px;
    display: block;
}

div.body {
    padding: 20px 40px;
}

h2.title {
    background-color: #012;
    padding: 5px 40px;
}
h2.title a {
    color: #fff;
    font-weight: normal;
}
