#sidebar {
    text-align: right;
}

#sidebar h1 {
    text-transform: lowercase;
}

footer, #sidebar p {
    font-size: 90%;
}

#content h1 {
    font-family: serif;
}

#content p {
    max-width: 33em;
}

.summary {
    max-height: 230px;
    overflow: hidden;
}

.navigation {
    font-size: 500%;
}
