<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>

        <link href="{{ config.url }}css/master.css" media="screen" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

        <!-- any extra CSS -->
        {% block css %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="container">
            <header role="banner">
            <hgroup>
            <h1>{{ config.title }}</h1>
            <h2>{{ config.subtitle }}</h2>
            </hgroup>
            </header>
            <nav class="breadcrumb">
            <ul>
                {% for name, target in breadcrumbs %}
                <li>
                {% if target %}
                <a href="{{ target }}">{{ name }}</a>
                {% else %}
                {{ name }}
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            </nav>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="branding">
        <div id="container">
            <div id="social">
                <a href="https://twitter.com/dealmeida" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="https://code.dealmeida.net/" title="Code repositories"><i class="icon-code-fork"></i></a>
                <a href="https://plus.google.com/117162105820600956580" title="Google+"><i class="icon-google-plus"></i></a>
                <a href="https://www.facebook.com/robdealmeida" title="Facebook"><i class="icon-facebook"></i></a>
            </div>
            <p>
            Powered by <a href="https://pypi.python.org/pypi/nefelibata">Nefelibata</a>.
            </p>
        </div>
        </footer>
    </body>
</html>
