{% extends "boilerplate.html" %}                                                  
                                                                                
{% block title %}{{ config.title }}{% endblock %}             
                                                                                
{% block css %}                                                                 
{% for stylesheet in stylesheets %}                                             
<link href="{{ stylesheet }}" rel="stylesheet">                                 
{% endfor %}                                                                    
{% endblock %}                                                                  
                                                                                
{% block javascript %}                                                          
{% for script in scripts %}                                                     
<script src="{{ script }}"></script>                                            
{% endfor %}                                                                    
{% endblock %}                                                                  
                                                                                
{% block main %}
<div class="header">
    <h1><a href="{{ config.url }}">{{ config.title }}</a></h1>          
    <p>{{ config.subtitle }}</p>                                        
    <hr>

    <div class="navigation">
        <p>
        {% if previous %}                                               
        <a title="Previous posts" href="{{ previous }}">&laquo;</a>     
        {% endif %}                                                     
        {% if next %}                                                   
        <a title="Next posts" href="{{ next }}">&raquo;</a>             
        {% endif %}                                                     
        </p>                                                            
    </div>
</div>

{% for post in posts %}
<div class="post">
    <h2 class="title">
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="body">
        {{ post.html }}
    </div>
    {% endfor %}
{% endblock %}
</div>
