{% extends "template.html" %}                                                  

{% block title %}{{ config.title }}{% endblock %}             

{% block content %}
<article role="main">
<section class="articles">
<ol>
{% for post in posts %}
    <li>
    <article>
    <header>
    <h1>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    </header>
    <p>{{ post.summary }}</p>
    <p class="read_more">
    <a href="{{ post.url }}">Continue reading</a>
    </p>
    <footer>
    <p class="meta">
    Published
    on
    <time datetime="{{ post.date.isoformat() }}" pubdate>
    {{ post.date.strftime('%Y-%m-%d') }}
    </time>
    </p>
    </footer>
    </article>
    </li>
{% endfor %}
</ol>
</section>
</article>
{% endblock %}
