{% extends "base.html" %}                                                  

{% block meta %}
<meta name="description" content="{{ post.summary }}">
{% if post.post['keywords'] %}
<meta name="keywords" content="{{ post.post.keywords }}">
{% endif %}
{% if post.post['authors'] %}
<meta name="author" content="Hege Refsnes">
{% endif %}
{% endblock %}

{% block title %}{{ config.title }}: {{ post.title }}{% endblock %}             

{% block css %}                                                                 
{% for stylesheet in stylesheets %}                                             
<link href="{{ stylesheet }}" rel="stylesheet">                                 
{% endfor %}                                                                    
{% endblock %}                                                                  

{% block javascript %}                                                          
{% for script in scripts %}                                                     
<script src="{{ script }}"></script>                                            
{% endfor %}                                                                    
{% endblock %}

{% block content %}
<article role="main">
<h1>{{ post.title }}</h1>

{{ post.html }}

<!--
{{ post.raw|e }}
-->
<footer>
<p class='meta'>
Published
on
<time datetime="{{ post.date.isoformat() }}" pubdate>
{{ post.date.strftime('%Y-%m-%d') }}
</time>
</p>
</footer>

{% for reply in json['twitter.json'] %}
{{ reply.text }}
{% endfor %}
</article>
{% endblock %}
